<!DOCTYPE html>
<html>
<head>
    <title>{{ profile_user.username }}</title>
</head>
<body>


<h1>{{ profile_user.username }}</h1>

<p>Email: {{ profile_user.email }}</p>

<p>Followers: {{ profile_user.followers_count }}</p>

<p>Following: {{ profile_user.following_count }}</p>

{% if user.is_authenticated %}

    {% if user != profile_user %}

        {% if is_following %}

            <a href="{% url 'accounts:follow_toggle' profile_user.username %}">
                Unfollow
            </a>

        {% else %}

            <a href="{% url 'accounts:follow_toggle' profile_user.username %}">
                Follow
            </a>

        {% endif %}

    {% endif %}

{% endif %}

</body>
</html>