{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}CineSphere{% endblock %}</title>

    <link
        rel="stylesheet"
        href="{% static 'social/style.css' %}"
    >
</head>
<body>

    <header class="site-header">

        <div class="logo">

            <a href="{% url 'social:movie_list' %}">
                🎬 CineSphere
            </a>

        </div>

        <nav>

            <a href="{% url 'social:movie_list' %}">
                Browse Movies
            </a>

        </nav>

    </header>

    <hr>

    <main>

        {% block content %}

        {% endblock %}

    </main>

</body>
</html>