{% extends "social/base.html" %}

{% block title %}
CineSphere
{% endblock %}

{% block content %}

<h1>🎬Browse Movies</h1>

{% for movie in movies %}

<div class="movie">

<h2>
<a href="{% url 'social:movie_detail' movie.id %}">
{{ movie.title }}
</a>
</h2>

<p><strong>Year:</strong> {{ movie.release_year }}</p>

<p><strong>Runtime:</strong> {{ movie.runtime }} minutes</p>

<p><strong>Language:</strong> {{ movie.language }}</p>

<p><strong>Genre:</strong> {{ movie.genre }}</p>

<p>{{ movie.description }}</p>

</div>

{% empty %}

<p>No movies found.</p>

{% endfor %}

{% endblock %}