{% extends "social/base.html" %}

{% block title %}
{{ movie.title }} - CineSphere
{% endblock %}

{% block content %}

<h2>{{ movie.title }}</h2>

<p><strong>Release Year:</strong> {{ movie.release_year }}</p>

<p><strong>Runtime:</strong> {{ movie.runtime }} minutes</p>

<p><strong>Language:</strong> {{ movie.language }}</p>

<p><strong>Description:</strong></p>

<p>{{ movie.description }}</p>

<hr>

<h3>Leave a Review</h3>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">
        Submit Review
    </button>
</form>

<hr>

<h3>Reviews</h3>

{% for review in reviews %}

<div>

    <strong>{{ review.user.username }}</strong>

    rated it

    <strong>{{ review.rating }}/10</strong>

    <p>{{ review.review_text }}</p>

</div>

<hr>

{% empty %}

<p>No reviews yet.</p>

{% endfor %}

<p>
    <a href="{% url 'social:movie_list' %}">
        ← Back to Browse Movies
    </a>
</p>

{% endblock %}