{% extends "social/base.html" %}

{% block title %}
CineSphere
{% endblock %}

{% block content %}

<h1>🎬Browse Movies</h1>

{% for movie in movies %}

<div
    class="movie"
    onclick="window.location='{% url 'social:movie_detail' movie.id %}'"
>

    <h2>
        <a href="{% url 'social:movie_detail' movie.id %}">
            {{ movie.title }}
        </a>
    </h2>

    <p>
        <strong>{{ movie.genre }}</strong>
        •
        {{ movie.release_year }}
        •
        {{ movie.runtime }} min
    </p>

    <p>{{ movie.description }}</p>

</div>

{% empty %}

<p>No movies found.</p>

{% endfor %}

{% endblock %}